body {
    display: flex;
    font-family: arial;
    background-color: #cac9ff;
    color: #004479;
    flex-direction: column;
    text-align:center;
}



h1 {
    margin-bottom: 30px;
    font-size: 8rem;
}

.watch-buttons button {
    font-size: 2rem;
    margin-right: 30px;
    background-color: #eecbff;
    color: #004479;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 10px;
}

.timer-variable p {
    font-size: 6rem;
    color: #006524;
    font-weight: bold;
    display: inline-flex;
}